source https://nuget.org/api/v2
framework: net40, net45

nuget FluentAssertions = 3.5
nuget NUnit ~> 2

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit.Runners ~> 2
